services:
  web:
    build: .
    container_name: organization_management_service-web
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: unless-stopped
  mongo:
    image: mongo:6
    container_name: organization_management_service-mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
volumes:
  mongo_data: